.vscode/**

src/**
ui/**
!ui/favicon.svg
!ui/favicon.png

node_modules
.pnpm-store
.npmrc

**/*.map
**/*.ts

.gitignore
.claude
.codex
.idea

CONTEXT.md
AGENT.md
docs
deepseek-harness
cline

*.vsix

*.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig*.json
